# dependencies
node_modules/

# next.js
.next/
out/

# env
.env
.env*.local

# os / editor
.DS_Store
*.log
.vscode/.vscode.gh-pages-bak/

# typescript
*.tsbuildinfo

# python
__pycache__/
.pytest_cache/
*.pyc
.venv/
venv/
